
#Ignore all log but conserve directory structure
var/logs/*
!var/logs/.htaccess

# Logs files
# Ignore all logs files everywhere
*.log

# Ignore all zipped files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Ignore all lib e vendor file
/vendor/*
composer.lock
#Ignore IDEs' configuration directory
.vscode
